.goal:before {
  display: block;
  font-size: 90px;
  line-height: 90px;
  color: white;
  border-radius: 100px;
  margin: 20px auto;
  text-align: center;
  content: "🎯"
}

.checklist:before {
  display: block;
  font-size: 90px;
  line-height: 90px;
  color: white;
  border-radius: 100px;
  margin: 20px auto;
  text-align: center;
  content: "🏁"
}

.solution:before {
  display: block;
  font-size: 90px;
  line-height: 90px;
  color: white;
  border-radius: 100px;
  margin: 20px auto;
  text-align: center;
  content: "♿"
}

.learn:before {
  display: block;
  font-size: 90px;
  line-height: 90px;
  color: white;
  border-radius: 100px;
  margin: 20px auto;
  text-align: center;
  content: "⛩"
}

.checklist ~ ul > li {
  list-style-type: none;
}

.checklist ~ ul > li:before {
  display: inline-block;
  margin-right: 10px;
  content: "✅"
}





.reveal img[src^="resources/diagrams/"] {
  background-color: #EEE;
  border-radius: 13px;
  padding: 7px;
}



.reveal .equality {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal .equality img {
  border: 0;
  height: 140px;
  display: inline-block;
  background: none;
  box-shadow: none;
}

.reveal .equality span {
  display: inline-block;
  padding: 0 15px;
  font-size: 70px;
}
.reveal section img.img_no_border {
  border: none;
  background-color: transparent;
  box-shadow: none;
}


body .reveal section .whitebg img {
  background-color: #EEE;
}

.reveal section img[alt=dot] {
  background-color: #EEE;
  border-radius: 13px;
  padding: 7px;
}

body .reveal section img.img_no_background {
  background-color: transparent;
}